<footer class="site-footer">
  <div class="container">
    <p>{{ uiText.footer.description }}</p>
    <p>{{ uiText.footer.trademark }}</p>
    <p><a href="https://www.apache.org/licenses/LICENSE-2.0">{{ uiText.footer.license }}</a></p>
  </div>
</footer>
